.categories {
    padding: 2rem;
    padding-top: 1rem;
    margin-top: 2rem;
    box-shadow: var(--box-shadow-color) 0px 0px 16px;
    border-radius: 8px;
    max-width: 75%;
}

.category-content {
    padding: 2rem;
}

.search h1 {
    font-size: 1.5rem;
    font-weight: normal;
}

.list-table-default td {
    text-align: left;
}

.link-new-categories {
    text-decoration: none;
    float: right;
    padding: 1rem 5rem 0 0;
}

.category-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 50%;
    box-shadow: var(--box-shadow-color) 0px 7px 29px 0px;
    border-radius: 15px;
    padding: 1rem;
}

.category-field-75 input {
    min-width: 75%;
}

.category-form .category-field {
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.btn-category-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 1rem;
}

.btn-category-form input {
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
}

.btn-delete-category {
    margin-left: 2rem;
    color: var(--main-blue-color);
    background-color: white;
    border: 2px solid var(--main-blue-color);
}

.btn-save-category {
   background-color: var(--main-blue-color);
   color: white;
   border: 2px solid var(--main-blue-color);
}

.btn-delete-category:hover {
    color: white;
    background-color: red;
    border: 2px solid red;
}

.btn-save-category:hover {
    background-color: green;
    border: 2px solid green;
}