.products {
    padding: 2rem;
}

.search-products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.search-products h1 {
    font-size: 1.5rem;
}

.list-products .show-product {
    text-decoration: none;
}

.list-products table {
    width: 100%;
    border-collapse: collapse;
}

.list-products th, td {
    border-bottom: 1px solid #e2e2e2;
    padding: 15px;
    text-align: center;
}

.list-products th {
    background-color: #d9d9d9;
    border: solid 1px #d9d9d9;
    border-left: none;
    border-right: none;
}

.link-new-product {
    text-decoration: none;
    float: right;
    padding: 1rem 5rem 0 0;
}