.products {
    padding: 2rem;
}

.search-products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.search-products h1 {
    font-size: 1.5rem;
}

.list-products .show-product {
    text-decoration: none;
}

.list-products table {
    width: 100%;
    border-collapse: collapse;
}

.list-products th, td {
    border-bottom: 1px solid #e2e2e2;
    padding: 15px;
    text-align: center;
}

.list-products th {
    background-color: #d9d9d9;
    border: solid 1px #d9d9d9;
    border-left: none;
    border-right: none;
}

.link-new-product {
    text-decoration: none;
    float: right;
    padding: 1rem 5rem 0 0;
}

.product-content {
    padding: 2rem;    
}

.product-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    padding: 1rem;
}

.product-form .product-field {
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.product-field-75 input {
    min-width: 75%;
}

.product-field-50 input {
    max-width: 50%;
}

.product-form select {
    width: 50%;
}

.product-form-image img {
    padding-left: 1rem;
    width: 4.5rem;
    height: 4.5rem;
}

.product-form-image input[type="file"] {
    padding-bottom: 1rem;
}

.product-form-featured input[type="checkbox"]  {
    vertical-align: middle;
    position: relative;
    width: 1rem;
    height: 1rem;
}

.btn-product-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 1rem;
}

.btn-product-form input {
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
}

.btn-delete-product {
    margin-left: 2rem;
    color: #214171;
    background-color: white;
    border: 2px solid #214171;
}

.btn-save-product {
   background-color: #214171;
   color: white;
   border: 2px solid #214171;
}

.btn-delete-product:hover {
    color: white;
    background-color: red;
    border: 2px solid red;
}

.btn-save-product:hover {
    background-color: green;
    border: 2px solid green;
}