<% if @category.errors.any? %>
  <ul>
    <% @category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<h1>Editando categoria</h1>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to "Exibir categoria", @category %> |
  <%= link_to "Voltar", categories_path %>
</div>
