<h1>Nova categoria</h1>

<% if @category.errors.any? %>
    <% @category.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
<% end %>

<br>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to "Voltar para categorias", categories_path %>
</div>
