<!-- Header -->  
<div class="header-container">
  <div class="header-container">
    <h1>Categorias</h1>
  </div>
</div>


<div class="product-content">

  <%= render "form", category: @category %>

  <br>

  <div>
    <%= link_to "Voltar para categorias", categories_path %>
  </div>
</div>