<div class="product-content">

  <%= render "form", product: @product %>

  <br>

  <div>
  <%= link_to "Exibir produto", @product %> |
  <%= link_to "Voltar para produtos", products_path %>
  </div>

</div>



