<p style="color: green"><%= notice %></p>

<h1>Listando produtos</h1>

<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Exibir produto", product %>
    </p>
  <% end %>
</div>

<%= link_to "Novo produto", new_product_path %>
