<!-- Header -->  
<div class="header-container">
  <div class="header-container">
    <h1>Produtos</h1>
  </div>
</div>


<div class="product-content">
  <%= render "form", product: @product %>

  <br>

  <div>
    <%= link_to "Voltar para Produtos", products_path %>
  </div>

</div>

